In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

정식일 이후 16주 동안 단위면적당 최소 에너지 비용(누적 난방용 도시가스 사용량)으로 최대 수확량을 예측 할 수 있는 환경/생육 모델을 구하세요.
최소 에너지 비용 칼럼명 - HeatingEnergyUsage_cumsum
최대 수확량 칼럼명 - outtrn_cumsum

평가 기준: RMSE, R2 score
RMSE - 예측 모델의 예측값과 실제 관측값 사이의 오차를 측정하는 지표, 값이 작을수록 모델의 예측이 정확하다고 판단
R2 score - 예측값이 실제 값의 변동을 얼마나 잘 설명하는지를 측정, 1에 가까울수록 모델이 데이터를 더 잘 설명한다고 판단

In [20]:
input_data = pd.read_csv("~/project/스마트농업 AI/Data/2023_smartFarm_AI_hackathon_dataset.csv")

In [5]:
input_data

,frmDist,date,inTp,inHd,otmsuplyqy,acSlrdQy,cunt,ph,outTp,outWs,...,outtrn_cumsum,WaterUsage,WaterCost,FertilizerUsage,FertilizerCost,CO2Usage,CO2Cost,MistUsageTime,Mist Cost,HeatingEnergyUsage_cumsum
0,DBSF1059,20220926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0
1,DBSF1059,20221001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,1347.554178,202.133127,4711.308821,5936.249114,0.000000,0.0000,190.168990,2221.173803,0.0
2,DBSF1059,20221002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,69.899353,10.484903,271.379890,341.938662,0.000000,0.0000,0.000000,0.000000,0.0
3,DBSF1059,20221003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,412.225065,61.833760,1539.505534,1939.776973,253.744916,149.7095,0.000000,0.000000,0.0
4,DBSF1059,20221004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,590.608634,88.591295,2614.973165,3294.866187,3032.885084,1789.4022,1.149739,13.428955,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84835,DBSF9969,20180710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,235272.042536,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0
84836,DBSF9969,20180711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,227947.124946,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0
84837,DBSF9969,20180712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,231527.426327,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0
84838,DBSF9969,20180713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,251254.321635,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0
84839,DBSF9969,20180714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.0

In [8]:
# 데이터의 기본 통계 정보 확인
input_data.describe()

,date,inTp,inHd,otmsuplyqy,acSlrdQy,cunt,ph,outTp,outWs,daysuplyqy,...,outtrn_cumsum,WaterUsage,WaterCost,FertilizerUsage,FertilizerCost,CO2Usage,CO2Cost,MistUsageTime,Mist Cost,HeatingEnergyUsage_cumsum
count,8.484000e+04,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.0,...,84840.000000,84840.00000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,84840.000000,8.484000e+04
mean,2.018306e+07,16.741165,69.840334,63.771906,859.358175,11.050016,4.329564,8.919073,0.507100,0.0,...,24128.137397,154.82117,23.223176,381.415436,480.583450,13.142900,7.754311,10.462087,122.197176,1.369699e+05
std,1.415661e+04,7.844482,30.632917,50.989079,863.627104,13.169075,2.360309,9.562816,0.736510,0.0,...,38713.785840,514.61495,77.192242,1265.736256,1594.827682,227.353742,134.138708,59.149613,690.867475,5.413194e+05
min,2.017071e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-15.832372,0.000000,0.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.017121e+07,15.181276,67.966019,0.000000,0.000000,1.663457,4.428794,0.000000,0.000000,0.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,2.018041e+07,18.164113,78.384204,67.951238,762.690836,7.087341,5.208487,7.014140,0.000000,0.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,2.018120e+07,21.158215,88.724599,91.599089,1477.986231,15.514866,5.917302,17.122196,0.862444,0.0,...,40064.347955,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
max,2.022121e+07,39.221978,119.051100,335.648934,4422.127255,100.947446,8.126081,36.776236,6.497037,0.0,...,253678.264188,5388.27699,808.241549,10440.000887,13154.401118,8387.322508,4948.520280,838.686300,9795.855985,4.031464e+06

In [10]:
# 데이터의 열(특성) 정보 확인
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84840 entries, 0 to 84839
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   frmDist                    84840 non-null  object
 1   date                       84840 non-null  int64
 2   inTp                       84840 non-null  float64
 3   inHd                       84840 non-null  float64
 4   otmsuplyqy                 84840 non-null  float64
 5   acSlrdQy                   84840 non-null  float64
 6   cunt                       84840 non-null  float64
 7   ph                         84840 non-null  float64
 8   outTp                      84840 non-null  float64
 9   outWs                      84840 non-null  float64
 10  daysuplyqy                 84840 non-null  float64
 11  inCo2                      84840 non-null  float64
 12  ec                         84840 non-null  float64
 13  frmYear                    84840 non-null  int64
 14  frmWeek                    84840 non-null  int64
 15  frtstGrupp                 84840 non-null  float64
 16  lefstalklt                 84840 non-null  float64
 17  frtstSetCo                 84840 non-null  float64
 18  pllnLt                     84840 non-null  float64
 19  flanGrupp                  84840 non-null  float64
 20  frtstCo                    84840 non-null  float64
 21  flanJnt                    84840 non-null  float64
 22  tcdmt                      84840 non-null  float64
 23  frmhsFclu                  84840 non-null  float64
 24  hvstGrupp                  84840 non-null  float64
 25  hvstJnt                    84840 non-null  float64
 26  grwtLt                     84840 non-null  float64
 27  fcluHg                     84840 non-null  float64
 28  lefLt                      84840 non-null  float64
 29  flwrCo                     84840 non-null  float64
 30  hvstCo                     84840 non-null  float64
 31  lefCunt                    84840 non-null  float64
 32  frtstJnt                   84840 non-null  float64
 33  lefBt                      84840 non-null  float64
 34  stemThck                   84840 non-null  float64
 35  frmAr                      84840 non-null  int64
 36  frmDov                     84840 non-null  float64
 37  outtrn_cumsum              84840 non-null  float64
 38  WaterUsage                 84840 non-null  float64
 39  WaterCost                  84840 non-null  float64
 40  FertilizerUsage            84840 non-null  float64
 41  FertilizerCost             84840 non-null  float64
 42  CO2Usage                   84840 non-null  float64
 43  CO2Cost                    84840 non-null  float64
 44  MistUsageTime              84840 non-null  float64
 45  Mist Cost                  84840 non-null  float64
 46  HeatingEnergyUsage_cumsum  84840 non-null  float64
dtypes: float64(42), int64(4), object(1)
memory usage: 30.4+ MB

In [27]:
# 결측치 확인
input_data.isnull().sum()

TypeError: isnull() takes 1 positional argument but 2 were given